
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Law-Fi is a legal text generator</h1>
&nbsp;
&nbsp;
<h3>Tell me, stranger, what do you want?</h3>
<p>&nbsp;</p>
<div style="text-align:center">
    <p><button class="btn btn-info btn-large">I want to find an open-source license for my project</button></p>
  
<p>&nbsp;</p>
<a href="/welcome"><button class="btn btn-danger">I want to generate legal statuses for a French SAS</button></a>
</div>