<!DOCTYPE html>
<html>
  <head>
  	<title>Law-Fi</title>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
    <script src="/lib/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="/lib/application.js" type="text/javascript"></script>
    <script src="/lib/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/lib/bootstrap/js/bootstrap-alerts.js"></script>
    <script src="/lib/bootstrap/js/bootstrap-collapse.js"></script>
  </head>
  <body style="padding-top: 50px;">
	<section id="navigation">
	    <div class="topbar-wrapper" style="z-index: 5;">
	      <div class="topbar" data-dropdown="dropdown">
	        <div class="topbar-inner">
	          <div class="container">
	            <h3><a href="/">Lawgic</a></h3>
	            <ul class="nav">
	              <li><a href="/about">About</a></li>
	            </ul>
	          </div>
	        </div><!-- /topbar-inner -->
	      </div><!-- /topbar -->
	    </div><!-- /topbar-wrapper -->
	  </section>
	<div class="container">
		<%if @error then %>
			<div class="alert-message error"><%=@error%></div>
		<% end %>
    	<%= yield %>
	</div>
  </body>
</html>