<h3 style="text-align:center; margin-top: 150px;">Vous êtes...</h3>
<div style="text-align:center">
  
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p><a href="/mentions_perso_question"><button class="btn btn-info btn-large">Un particulier</button></a>
    <a href="/mentions_pro_form"><button class="btn btn-info btn-large" style="margin-left:15px;">Un professionel</button></a>
    <a href="/mentions_e-commerce_form"><button class="btn btn-info btn-large" style="margin-left:15px;">Un site marchand</button></a>
    </p>
    <hr style="margin-top :400px;"/>