<div class="row">
<div class="span7" style = "text-align:justify;">
<p>&nbsp;</p>
<p><em>Voici vos mentions légales. Vous trouverez des explications sur certains articles en passant votre souris sur le symbole</em> <span class="badge badge-info">info</span></p>
<p><em>Lawve.me n'est pas un cabinet d'avocats et ne fait pas de conseil juridique. L'utilisation de ces mentions légales ne constitue aucune relation juridique entre vous et Lawve.me. Lawve.me décline toute responsabilité pour tout dommage causé par l'utilisation de ces mentions légales.</em></p> 
<p>&nbsp;</p>
<hr/>
<h1 style="text-align:center;">Mentions légales</h1>
<h3>Hébergeur</h3>
<p>&nbsp;</p>
<p>Ce site est hébergé par <%= @host %></p>.
<p><%= @host_address %>
<p><%= @host_phone %>
<p>&nbsp;</p>
<h3>Licence</h3><span class="badge badge-info remark pull-right" id="remark" title="Info" data-content="Nous avons mis une licence creative commons par défaut. Cela signifie que les utilisateurs peuvent réutiliser votre contenu à condition de vous citer. Si cette licence ne vous convient pas, changez ce paragraphe."/>info</span>
<p>&nbsp;</p>
Ce(tte) oeuvre est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/fr/">Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Pas de Modification 2.0 France</a>.
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/fr/"><img alt="Licence Creative Commons" style="border-width:0 text-align:center;" src="http://i.creativecommons.org/l/by-nc-nd/2.0/fr/80x15.png" /></a><br/>
<p>&nbsp;</p>
<h3>Confidentialité des données personnelles recueillies</h3>
<p>&nbsp;</p>
<p>L'éditeur du présent site s’engage à ce que tout traitement de données personnelles sur le site soit conforme à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.</p>
<p>– L’utilisateur dispose d’un droit d’accès (article 34 à 38 de la loi de 1978) et d’un droit de rectification (article 36 de la loi de 1978) aux données personnelles le concernant.</p>
<p>– L’utilisateur peut exercer ce droit à tout moment en s'adressant à <%= @mail_perso %> afin que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations les concernant. Il est demandé un délai de 15 jours maximum pour prendre en compte de la demande de l’utilisateur. </p>
<p>&nbsp;</p>
<hr/>
</div>
</div>