
<p>&nbsp;</p>
<p><em>Remplissez le questionnaire ci-dessous pour générer vos mentions légales. C'est gratuit et nous ne collectons pas vos données</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<form style="text-align:center;" action='/mentions_perso' method='post'>
  <p>&nbsp;</p>
  <p><input type='text' placeholder='Nom de votre hébergeur' name='host'/>
  </p>
  <p>&nbsp;</p>
  <p><input type='text' placeholder='Adresse de votre hébergeur' name= 'host_adress'/>
  </p>
  <p>&nbsp;</p>
  <p><input type='text' placeholder='Numéro de téléphone de votre hébergeur' name='host_phone'/>
  </p>
  <p>&nbsp;</p>
  <p><input type='text' placeholder='Votre mail' name='mail_perso'/>
  <p>&nbsp;</p>
  <button style="margin-top:100px" class="btn btn-danger btn-large" type='submit'>C'est tout! Génère mes mentions légales</button>
  <span  class="badge badge-info remark" id="remark" title="Explication" data-content="La loi admet, pour les site de particuliers, la possibilité de mentionner uniquement les noms, adresse et téléphone de l'hébergeur, afin de préserver l'anonymat de l'éditeur du site. C'est l'hébergeur qui se charge de tenir les informations complémentaires à disposition de l'autorité judiciaire. Vous êtes aussi dispensé de déclaration à la CNIL en cas de collecte de données">Info</span>
</form>
<hr style="margin-top: 200px;"/>