
<p><em>Remplissez le questionnaire ci-dessous pour générer vos mentions légales. C'est gratuit et nous ne collectons pas vos données</em></p>
<p>&nbsp;</p>
<h2 style="text-align:center;">Hébergeur</h2>
<form action='/mentions_perso' method='post'>
  <p>&nbsp;</p>
  <p> <input type='text' placeholder='Votre hébergeur' name='host'/>
      <input type='text' placeholder='Adress de votre hébergeur' name= 'host_adress'/>
      <input type='text' placeholder='Numéro de votre hébergeur' name='host_phone'/>
      <input type='text' placeholder='Date de fin du premier exercice' name='date_exercice' class="remark" id="remark1" title="Conseil" data-content="Généralement la fin de l'année en cours"/>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <button class="btn btn-danger btn-large pull-right" type='submit'/>Et voilà! Génère mes statuts</button></tr>
      </div>
  </div>


  </p>
</form>
