<h3 style="text-align:center; margin-top: 150px;">Juste une petite question...</h3>
<div style="text-align:center">
  
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <p><a href="/mentions_perso_form"><button class="btn btn-info btn-large">Vous ne collectez pas de données personnelles</button></a>
    <a href="/mentions_perso_complex"><button class="btn btn-info btn-large" style="margin-left:15px;">Vous collectez des données personnelles</button></a>
    </p>
    <hr style="margin-top :400px;"/>